/*  Setup 
    setting basic element
 ------------------------------------------------------- */
body {
  background: #FFFFFF;
  color: #2b2b2b;
  font: 14px/1.4 Arial, Tahoma, Vernada, Geneva, sans-serif;
  padding-top: 120px;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 16px; }
h4, h5, h6 { font-size: 15px; }

p { margin-bottom: 20px; }

a { 
  color: #9e252e;
  text-decoration: none;
}
a:hover { 
  color: #841a22;
}
/* Google Font Lato */
h1, h2, h3, h4, h5, h6, .font-lato {
  font-family: 'Lato', sans-serif;
  color: #d41c12;
  font-weight: bold;
}

/*  Typography
 ------------------------------------------------------- */
.text-white { color: #eee; }
.text-red { color: #d8000f; }

strong { color: #2b2b2b; }
.text-shadow {
  text-shadow: 0px 1px 1px rgba(0,0,0,0.45);
}

.section-title {
  width: 100%;
  overflow: visible;
  height: 55px;
  float: left;
  background: url(../img/dot_bg3.png) repeat-x left bottom;
  padding: 0;
  margin-bottom: 20px;
}
.section-title h1 {
  font-size: 36px;
  float: left;
  width: auto;
  padding-right: 10px;
  color: #1b1b1b;
  background-color: #fff;
  text-transform: uppercase;
}
.section-title-white {
  background: url(../img/dot_bg3_white.png) repeat-x left bottom;
}
.section-title-white h1 {
  color: #FFF;
  background-color: #9e252e;
}
.tagline {
  font-style: italic;
  font-size: 24px;
}

/*  Helper
 ------------------------------------------------------- */
#scrollNav {
  list-style: none;
  position: fixed;
  right: 30px;
  top: 40%;
  z-index: 9999;
}
#scrollNav li {
  margin: 0 0 5px 0;
}
p.text-white a {
  color: #f5d4d7;
}
p.text-white a:hover {}
/*  Template
 ------------------------------------------------------- */
.site-name-wrapper {
  background-color: #292929;
  height: 70px;
}
.site-name {
  color: #000;
  margin-top: 5px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.site-name img {}
section {
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0;
}

/* pas-navbar-default */
.pas-nav {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar-default {
  background-color: #d8000f;
  border-color: #c30000;
}
.navbar-default .navbar-nav > li > a {
  color: #fefefe;
  border-right: 1px solid #c30000;
  font-weight: bold;
}
.navbar-default .navbar-nav > li:last-child > a {
  border-right: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1f1f1f;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #c30000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4b2727;
  border-color: #4b2727;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}

/*Footer*/
.site-footer {
  background-color: #111;
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-footer-copyright {
  color: #fff;
  margin-bottom: 10px;
}
.site-footer-detail {
  font-size: 12px;
  color: #666;
}

/* Hero section */
.hero-section {
  padding: 0;
  background: url("../img/cover-bg.jpg") center top no-repeat;
  background-size: cover;
  height: 440px;
}
.hero-text {
  padding-top: 20px;
  padding-left: 20px;
  background-color: rgba(255,255,255,0.6);
  padding-bottom: 20px;
  height: 440px;
}
.hero-text:before {
  background-color: rgba(255,255,255,0.6);
  content: "";
  display: block;
  position: absolute;
  left: -460px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (max-width: 1200px) {
  .hero-text:before {
    left: -375px;
  }
}
@media (max-width: 991px) {
  .hero-text:before {
    display: none;
  }
}
.logo-wrapper {
  margin-top: 60px;
}
.logo-wrapper img {
  margin-right: 20px;
}
.welcome-wrapper {
  font-family: "Lato",sans-serif;
}
.welcome-text {
  font-size: 20px;
  margin-bottom: 3px;
  line-height: 1.3em;
}
.welcome-text-lg {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.welcome-text-sm {
  font-size: 17px;
  margin-top: 5px;
  color: #3b3b3b;
}
.banner {
  width: 100%;
}

/* Partner Logo */
.partner-logo {
  float: left;
  display: block;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #eee;
  /*background-color: #ffe6e8;*/
}
.partner-content {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}
.partner-content a {
  text-decoration: none;
}
.partner-content img {
  border: 3px solid #fff;
  width: 90px;
  margin: 15px 5px;
}
.partner-content a:hover img {
  border: 3px solid #ccc;
}

.partner-logo-link {
  margin-top: 20px;
}
.partner-logo-link a {
  display: inline-block;
}
/*  About Section
 ------------------------------------------------------- */
.about-section {}
.about-photo {
  margin-top: 40px;
}

/*  Service Section
 ------------------------------------------------------- */
.service-section {}
.resp-vtabs .resp-tabs-list li {
  font-size: 18px;
  font-family: Lato;
}
.resp-tabs-title {
  margin-top: 0;
}
.resp-tabs-container ul {
  margin-top: 20px;
}

/*  Career Section
 ------------------------------------------------------- */
.career-section {}

/*  Team Section
 ------------------------------------------------------- */
.team-section {}

/*  Contact Section
 ------------------------------------------------------- */
.contact-section {
  margin-bottom: 0px;
}
.gmap-wrapper {
  margin-top: 40px;
}
.contact-info-wrapper {
  font-size: 15px;
  line-height: 1.6em;
}
.contact-form-wrapper {
  font-size: 15px;
}

.pas-submit {
  background-color: #d8000f;
  background-repeat: repeat;
  background-position: left top;
  opacity: 0.9;
  cursor: pointer;
  width: 86px;
  height: 86px;
  border: 0;
  outline: 0;
  font-size: 20px;
  color: #ffffff;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  position: relative;
}
.pas-submit:hover {
  color: #2d2d2d;
  text-align: center;
  border: 0;
  outline: 0;
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.webmaster {
  text-align: right;
  margin-top: 10px;
}