﻿.resp-tabs-list li {
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    clear: left;
}
.resp-tabs-container p {
	margin: 0;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {}

h2.resp-accordion {
    font-size: 14px;
    border: 1px solid #ccc;
    border-top: 0px solid #ccc;
    margin: 0px;
    padding: 15px 15px;
}
h2.resp-accordion a {
	color: #1b1b1b;
}
h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 15px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 28%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
    font-size: 14px;
}
.resp-vtabs .resp-tabs-list li:hover {
    background-color: #A7A3A4;
}
.resp-vtabs .resp-tabs-list li a {
	text-decoration: none;
	color: #1C110D !important;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    border: 1px solid #ccc;
    float: left;
    width: 68%;
    min-height: 250px;
    clear: none;
    margin-left: 20px;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
	background-color: #E7E7E7;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #1b1b1b;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #1b1b1b;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #E7E7E7 !important;
}
h2.resp-tab-active a {
	color: #1b1b1b;
}
.resp-easy-accordion  h2.resp-accordion {
    display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #ccc;
}
.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #ccc !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #ccc !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }
    h2.resp-accordion:hover {
        background-color: #A7A3A4;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #ccc;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 90%;
        min-height: initial;
        clear: none;
        margin-left: auto;
        margin-right: auto;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #ccc !important;
    }
}
